body{
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.orange-clour{
    color: rgb(238, 157, 8);
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding: 40px;
}
.half-width img{
     width: 100%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(red,orange);
    padding: 10px 50px ;
    border-radius: 5px;
    color:white;
    font-weight: 400;
    
    
}
.top-banner{
    background-image: url(../images/bbb.png );
    background-repeat: no-repeat;
}
.dream-big{
     background-image:url(../images/dream-bg.png) ;
     background-repeat: no-repeat;
     background-position: right;
    
    }
    .experience-item{
        width: 50%;
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 20px;
        border-radius: 10px;
        border-left: 10px solid;
        box-shadow: 10px 10px 40px rgb(136, 132, 132);
    }
    .experience{
        background-image: url();
        background-repeat: no-repeat;
    }
    .exp{
        text-align: center;
    }
    footer p {
        text-align: center;
    }